<mat-toolbar class="header" color="primary">
  <div class="container">
  <button
  routerLink="/"
    mat-icon-button
    class="example-icon"
    color="accent"
  >
    <mat-icon>home</mat-icon>
  </button>
  
  <span class="example-spacer"></span>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Home</mat-button-toggle>
    <mat-button-toggle value="italic">Lifestyle</mat-button-toggle>
    <mat-button-toggle value="underline">Hobby</mat-button-toggle>
    <mat-button-toggle value="underline">Travel</mat-button-toggle>
  </mat-button-toggle-group>

  <span class="example-spacer"></span>
  <a
    mat-icon-button
    class="example-icon favorite-icon"
    routerLink="/article"
    color="accent"
  >
    <mat-icon>add</mat-icon>
  </a>
</div>
</mat-toolbar>
