<mat-toolbar class="header" color="primary">
  <div class="container">
    <button routerLink="/" mat-icon-button class="example-icon" color="accent">
      <mat-icon>home</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <mat-button-toggle-group
    *ngIf="isHomePage"
      name="fontStyle"
      aria-label="Font Style"
      [(ngModel)]="selectedTopic"
    >
      <mat-button-toggle
        (click)="selectTopic('Home')"
        [value]="'Home'"
        [class.active]="selectedTopic === 'Home'"
        >Home</mat-button-toggle
      >
      <mat-button-toggle
        (click)="selectTopic('Lifestyle')"
        [value]="'Lifestyle'"
        [class.active]="selectedTopic === 'Lifestyle'"
        >Lifestyle</mat-button-toggle
      >
      <mat-button-toggle
        (click)="selectTopic('Hobby')"
        [value]="'Hobby'"
        [class.active]="selectedTopic === 'Hobby'"
        >Hobby</mat-button-toggle
      >
      <mat-button-toggle
        (click)="selectTopic('Travel')"
        [value]="'Travel'"
        [class.active]="selectedTopic === 'Travel'"
        >Travel</mat-button-toggle
      >
    </mat-button-toggle-group>

    <span class="example-spacer"></span>
    <a
      mat-icon-button
      class="example-icon favorite-icon"
      routerLink="/article"
      color="accent"
    >
      <mat-icon>add</mat-icon>
    </a>
  </div>
</mat-toolbar>
