<mat-card class="example-card">
  <mat-card-header style="min-height: 80px;">
    <mat-card-title>
      {{article.title}}
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ article.images![0].url }}" alt="Photo" />
  
  <mat-card-content class="mat_card_content">
    <span>Topic {{ article.topic }}</span>
    <span>{{article.postDate | date}}</span>
  </mat-card-content>
  <mat-card-actions style="display: flex;   justify-content: space-between;">
    <!-- <button mat-flat-button color="accent">Delete</button> -->
    <button mat-flat-button color="accent" routerLink="/articles/{{ article._id }}">
      Read More
    </button>
  </mat-card-actions>
</mat-card>
