<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title style="text-transform: capitalize;">{{article.title}}</mat-card-title>
   <!-- <div>{{article.date}}</div> -->
    </mat-card-header>
    <img mat-card-image src={{article.image}} alt="Photo">
    
    <mat-card-content>
      <p>
       {{article.topic}}
      </p>
    </mat-card-content>
    <mat-card-actions style="align-self: flex-end;">
      <button mat-button color="primary">Read More</button>
      <button mat-stroked-button color="accent">Delete</button>
    </mat-card-actions>
  </mat-card>