<div class="container">
  <mat-card style="margin-top: 20px">
    <form
      [formGroup]="form"
      (submit)="onSavePost()"
      style="
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 20px;
      "
    >
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Subtitle</mat-label>
        <input matInput formControlName="subtitle" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select topic</mat-label>
        <mat-select formControlName="topic">
          <mat-option value="Home">Home</mat-option>
          <mat-option value="Travel">Travel</mat-option>
          <mat-option value="Lifestyle">Lifestyle</mat-option>
          <mat-option value="Hobby">Hobby</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Add description</mat-label>
        <textarea matInput rows="4" formControlName="description"></textarea>
      </mat-form-field>

      <div
        formControlName="images"
        class="dropzone"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
        (click)="fileInput.click()"
      >
        <div class="dropzone-text">
          <mat-icon color="primary">upload</mat-icon>
          Drag and drop images here
        </div>
        <input
          #fileInput
          type="file"
          style="display: none"
          (change)="onFileSelected($event)"
          multiple
        />
      </div>

      <div *ngIf="images.length > 0" class="preview">
        <div *ngFor="let image of images">
          <div class="image-container">
            <img [src]="image.url" alt="Image" width="100px" />
            <button
              mat-mini-fab
              color="accent"
              class="delete-button"
              (click)="deleteImage(image)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <button
        mat-raised-button
        type="submit"
        color="accent"
        style="margin-top: 20px"
      >
        SAVE POST
      </button>
    </form>
  </mat-card>
</div>
