<div class="container">
  <mat-card>
    <form style="display: flex; flex-wrap: wrap; flex-direction: column;">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select topic</mat-label>
      <mat-select>
        <mat-option value="one">Home</mat-option>
        <mat-option value="two">Travel</mat-option>
        <mat-option value="tree">Lifestyle</mat-option>
        <mat-option value="four">Hobby</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Add some photos</mat-label>
      <button mat-icon-button matPrefix (click)="f_input.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input type="text" readonly matInput [formControl]="display" />
      <input
        type="file"
        multiple
        hidden
        #f_input
        (change)="handleFileInputChange(f_input.files!)"
      />
      <mat-error>this field is required</mat-error>
    </mat-form-field>

    <mat-card-actions align="end">
      <button
        mat-stroked-button
        color="primary"
        [disabled]="display.invalid"
        (click)="handleSubmit()"
      >
        confirm adding photos
      </button>
    </mat-card-actions>

    <div *ngIf="file_list.length">
      <mat-list>
        <div mat-subheader>Submit Files ({{ file_list.length }})</div>
        <mat-list-item *ngFor="let file of file_list">
          <mat-icon mat-list-icon>insert_drive_file</mat-icon>
          <div mat-line>{{ file }}</div>
        </mat-list-item>
      </mat-list>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Add description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    
    <button mat-button type="submit" color="primary">Confirm</button>
  </form>
</mat-card>
</div>


