<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile><app-card></app-card></mat-grid-tile>
    <mat-grid-tile><app-card></app-card></mat-grid-tile>
    <mat-grid-tile><app-card></app-card></mat-grid-tile>
    <mat-grid-tile><app-card></app-card></mat-grid-tile>
    <mat-grid-tile><app-card></app-card></mat-grid-tile>
    <mat-grid-tile><app-card></app-card></mat-grid-tile>
  </mat-grid-list>


  <!-- <ul class="heroes">
    <li *ngFor="let article of articles">
      <a routerLink="/detail/{{article.id}}">
        <span class="badge">{{article.id}}</span> {{article.title}}
      </a>
      <button type="button" class="delete" title="delete hero"
        (click)="delete(hero)">x</button>
    </li>
  </ul> -->