<div *ngIf="article" class="container">
  <h2>{{ article.title }}</h2>
  <div class="slider_container" >
    <image-slider *ngIf="article.images" [slides]="article.images"></image-slider>
  </div>
  <p >{{ article.topic }}</p>
  <p>{{ article.description }}</p>
  <div class="button-box">
    <button mat-flat-button color="primary" (click)="goBack()">
      Go back <mat-icon>home</mat-icon>
    </button>
    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/edit', article._id]"
    >
      Edit <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
