.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 20px;

  @media screen and (min-width: 320px) {
    max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 32px;
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
  h2 {
    text-align: center;
    text-transform: capitalize;
  }
  p {
    padding-top: 10px;
    text-align: center;
    // text-transform: capitalize;
  }
}

.button-box {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  & button {
    color: #ffd740;
  }
}

.slider_container {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

.topic_date {
  color: #673ab7;
  font-weight: 500;
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.subtitle {
  color: #673ab7;
  font-weight: 600;
}

.comments-section {
  display: flex;
  flex-direction: column;
  padding: 60px;
 
}
.new-comment {
  display: flex;
  flex-direction: column;
  & form {
    display: flex;
    flex-direction: column;
   
  }
}
