<mat-drawer-container class="example-container container">
  <mat-drawer mode="side" opened style="width: 20%" position="end">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Find something</mat-label>
        <input matInput placeholder="" value="" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Filter</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-drawer>

  <mat-drawer-content>
    <ul class="posts">
      <li *ngFor="let article of articles">
        <app-card routerLink="/articles/{{ article.id }}"></app-card>
        <!-- <p>{{article.title}}</p>
            
            <span>{{article.topic}}</span> -->

        <!-- <button type="button" class="delete" title="delete hero"
            (click)="delete(hero)">x</button> -->
      </li>
    </ul>
    <!-- <app-card-list></app-card-list> -->
  </mat-drawer-content>
</mat-drawer-container>
