<mat-drawer-container class="home container">
  <mat-drawer mode="side" opened class="left_drawer" position="end">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input
          matInput
          [(ngModel)]="searchText"
        
          name="searchText"
          (keyup)="searchByTitle()"
          placeholder=""
          value=""
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            [(ngModel)]="startDate"
            name="startDate"
            (dateChange)="searchByDateRange()"
          />
          <input
            matEndDate
            placeholder="End date"
            [(ngModel)]="endDate"
            name="endDate"
            (dateChange)="searchByDateRange()"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Filter</mat-label>
        <mat-select
          [(ngModel)]="selectedFilter"
          (selectionChange)="onFilter()"
          name="selectedFilter"
        >
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-drawer>

  <mat-drawer-content>
    <ul class="posts" *ngIf="articles.length > 0">
      <li *ngFor="let article of articles">
        <app-card [article]="article"></app-card>
      </li>
    </ul>

    <mat-paginator
      [length]="totalPosts"
      [pageSize]="postsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"
      *ngIf="totalPosts > 0"
    >
    </mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>
